.__articleContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    
    & * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

.__bookmark, .__delete {
    justify-self: end;
    align-self: center;

    margin-right: 3.25rem;
    transform: translateX(50%);
}

.__articleCard {
    flex: 0 0 auto;
    background: #FFF;
    padding: 1rem;

}

.__img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 4.5rem;
    height: 4.5rem;

    border-radius: .5rem;
}

.__heading {
    font-size: 1rem;
    padding-bottom: .125rem;

    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.__summary {
    font-size: .875rem;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.--bg-green {
    padding-block: 1px;
    background: linear-gradient(#C5C5C5 1%, #46781B 2%, #46781B 98%, #C5C5C5 99%);
}

.--bg-red {
    padding-block: 1px;
    background: linear-gradient(#C5C5C5 1%, #FF5D5D 2%, #FF5D5D 98%, #C5C5C5 99%);
}