details {
    border-block: 1px solid #C5C5C5;
}

.__header {
    padding: 1rem;
}
/* summary::-webkit-details-marker {
    display: none; This also hides the ::marker pseudo-element, but in Safari
} */

.__content-list { 
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease;
}

.__content-item {
    border-block: 1px solid #C5C5C5;
    padding: 1rem;
}

details[open] + .__content-list {
    max-height: 800px; /* Set a max-height value enough to show all the content */ 
    overflow-y: scroll;
}

.__marker {
    transition: rotate 200ms ease;
}

details[open] .__marker {
    rotate: 90deg;
}