@use "../../style/variables.scss" as *;

.mainHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-block: 2rem;
    
    .__heading {
        color: $main-color;
        font-size: 1.5rem;
    }
}

